

.header_tiki{
    position: relative;
    background: var(--background-blue);
    width: 100%;
    height: 110px;
    z-index: 99;
}

.header_tiki-container-nav{
    display: flex;
    flex-wrap: wrap;
}

.header_tiki-container-nav-logo{
    width: 180px;
    height: 40px;
}

.header_tiki-container-nav-logo-img{
    width: 65px;
    height: 45px;
}

.header_tiki-container-nav-c1{
    display: flex;
    margin-top: 16px;
}

.header_tiki-container-nav-search{
    position: relative;
}

.header_tiki-container-nav-search-c1{
    margin-top: 4px;
}



.header_tiki-container-nav-search-c1 input{
    width: 600px;
    height: 42px;
    padding: 0 12px;
    outline: unset;
    letter-spacing: 1px;
    border-radius: 3px;
    border: unset;
    font-size: 1.2rem;
}

.form-search-button{
    width: 110px;
    height: 42px;
    background: rgb(13, 92, 182);
    color: white;
    font-size: 1.3rem;
    font-weight: normal;
    outline: none;
    align-items: center;
    border: unset;
    border-radius: 3px;
}

.form-search-button i {
    padding-right: 6px;
}

 /* search sup */
.header_tiki-container-nav-search-sup{
    position: absolute;
    width: calc(100% - 120px);
    height: 105vh;
    background: var(--while-color);
    box-shadow: rgb(0 0 0 / 28%) 0px 6px 12px 0px;
    visibility: hidden;
    transition: all linear 0.3s;
    opacity: 0;
}

.header_tiki-container-nav-search-sup.active {
    visibility: visible;
    opacity: 1;
}

.header_tiki-container-nav-search-sup-img-c1{
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    cursor: pointer;
}

.nav-sup-button{
    font-size: 1.4rem;
    color: var(--back-color);
    font-weight: normal;
}

.header_tiki-container-search-sup-content{
    width: 100%;
}

.search-sup-content-a1{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: var(--back-color);
    font-size: 1.4rem;
    line-height: 32px;
    padding: 4px 8px;
}

.search-sup-content-a1:hover{
    background-color: rgba(27, 168, 255, 0.1);
}

.search-sup-content-a1 img {
    width: 35px;
    height: 35px;
}

.search-sup-content-a1 span{
    padding-left: 12px;
}

.search-sup-content-a1 i {
    font-size: 1.4rem;
    line-height: 36px;
    text-align: center;
    color: #aeaeae;
}

.header_tiki-container-search-sup-expand{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1.2rem;
    color: var(--background-blue);
    cursor: pointer;
}

.header_tiki-container-search-sup-expand i {
    font-size: 1rem;
    line-height: 20px;
    margin-left: 12px;  
}

.header_tiki-container-nav-search-sup-c2{
    margin-top: 12px;
}

.header_tiki-container-nav-search-sup-table{
    padding: 8px 12px 12px;
    border-top: 1px solid rgb(242, 242, 242);
}

.header_tiki-container-nav-search-sup-table-c1{
    display: flex;
    flex-wrap: wrap;
}

.header_tiki-container-nav-search-sup-table-c1 img {
    width: 24px;
    height: 24px;
}

.header_tiki-container-nav-search-sup-table-c1 span{
    font-size: 1.5rem;
    line-height: 24px;
    color: var(--back-color);
    padding-left: 12px;
}

.header_tiki-container-nav-search-sup-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-top: 12px;
}

.header_tiki-container-product{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: var(--back-color);
    background: var(--grey-color);
}

.header_tiki-container-product:hover{
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 2px 0px;
}

.header_tiki-container-product img {
    width: 38px;
    height: 38px;
}

.header_tiki-container-product span{
    font-size: 1.3rem;
    padding: 6px 0 0 12px ;
}

.header_tiki-container-nav-search-hot{
    padding: 8px 12px 12px;
    border-top: 1px solid rgb(242, 242, 242);
}

.header_tiki-container-nav-search-hot-c1{
    color: var(--back-color);
    font-size: 1.6rem;
    padding-left: 40px;
    margin-bottom: 16px;
}

.header_tiki-container-nav-search-hot-c2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 16px 12px;
}

.header_tiki-container-nav-search-hot-c3{
    text-decoration: none;
    color: var(--back-color);
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
}


.header_tiki-container-nav-search-hot-c3:hover{
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
}

.header_serach-hot-img img {
    width: 65px;
    height: 65px;
    margin-top: 12px;
}



 /* end search  */

.header_tiki-container-c2{
    position: relative;
    margin-top: 24px;
    padding-left: 16px;
}

.header_tiki-container-user-name{
    color: var(--while-color);
}

.header_tiki-container-user-name-c1{
    display: flex;
    cursor: pointer;
}

.header_tiki-container-user-name-c1 > i {
    font-size: 3rem;
    text-align: center;
    align-items: center;
}

.header-user-name-span{
    padding-left: 12px;
    font-size: 1.2rem;
    display: block;
    align-items: center;
}

.header-user-name-span-c2{
    font-size: 1.2rem;
    font-weight: normal;
}

.header-user-name-span-c2 i {
    font-size: 1rem;
}

.header_tiki-container-cart-c1{
    display: flex;
    color: var(--while-color);
    font-size: 1.4rem;
    margin-left: 18px;
    cursor: pointer;
}

.header_tiki-container-cart-icon{
    font-size: 3.5rem;
    line-height: 35px;
    position: relative;
}

.header_tiki-container-cart-icon::after{
    position: absolute;
    display: block;
    content: "0";
    top: -5px;
    left: -12px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.4rem;
    color: var(--back-color);
    background: var(--background-yellow);
    
}

.header_tiki-container-cart-span{
    /* display: block; */
    padding-left: 8px;
    font-size: 1.2rem;
    line-height: 54px;
}


.header_tiki-container-list{
    margin-top: -8px;
}

.header_tiki-container-list-c1 a:nth-child(1){
    width: 180px;
    height: 100%;
}
    
/* .header_tiki-container-list-c2{
    display: block;
} */

.header_tiki-container-list-c2 a{
    text-decoration: none;
    color: var(--while-color);
    font-size: 1.2rem;
    padding-right: 12px;
}


.header_tiki-container-list-img{
    width: 83px;
    height: 12px;
}

.header_tiki-container-list-c3{
    text-align: right;
}

.header_tiki-container-list-c3 a {
    text-decoration: none;
    color: var(--while-color);
    background-color: rgba(255, 255, 255, 0.25);
    text-align: center;
    line-height: 20px;
    border-radius: 30px;
    padding: 4px 8px;
}

.header_tiki-container-list-c3 a:hover{
    opacity: 0.8;
}

.header_tiki-container-list-c3 i {
    font-size: 1.2rem;
    padding-right: 4px;
}

.header_tiki-container-list-c3 span{
    font-size: 1rem;
    text-align: center;
    align-items: center;
}


 /* slider  */
.slider{
    width: 100%;
    height: 270px;
    margin-bottom: 80px;
}

.slider-c1{
    width: 100%;
    background-color: var(--while-color);
}

.slider_header{
    width: 100%;
    overflow: hidden;
    
}

.slider_header-container{
   display: block;
    position: absolute;
}

.slider_header-container-span{
    width: 100%;
    height: 50px;
}

.slider_header-container-span a{
   text-decoration: none;
   color: var(--back-color);
   font-size: 1.4rem;
   line-height: 50px;
   padding-left: 16px;
}

.slider_header-containe-a1 a:nth-child(1){
    margin-left: 12px;
}

 /* slider run  */
.slider_container{
    width: 100%;
    height: 100%;
    margin: 15px 0;
}

.slider_container-item{
    overflow: hidden;
}

.slider_container-item-img-c1{
   width: 100%;
   height: 270px;
   border-radius: 3px;
}

.slider_container-item-list-c1{
    width: 100%;
    height: 270px;
    padding-left: 12px;
    border-radius: 3px;
}

/* content  */
.content{
    width: 100%;
    padding-bottom: 12px;
    background-color: #efefef;
}

.content-header-discount-c1{
    margin: 16px 0;
    width: 100%;
    height: 340px;
    background: var(--while-color);
    border-radius: 3px;
}

.content-header-discount-item{
    justify-content: space-between;
    padding: 16px;
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    align-items: center;
}

.content-header-discount-item-img{
    width: 30px;
    height: 30px;
    animation: Thunder linear  0.8s infinite;
}

.content-header-discount-item-time-nav{
    font-size: 1.6rem;
    color: #aeaeae;
    line-height: 24px;
}

.content-header-discount-item-time-nav span{
    background: var(--background-red);
    padding: 4px;
    border-radius: 5px;
    color: var(--while-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.content-header-discount-item-time-nav i {
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 4px;
}

.content-header-discount-body-container{
    height: 276px;
}

.content-header-discount-body-container:hover{
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
    z-index: 1;
}

.deals-item{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.deals-item-img{
    position: relative;
}

.deals-item-img img{
    width: 180px;
    height: 180px;
}

.deals-item-img .deals-item-img-free{
    position: absolute;
    width: 90px;
    height: 16px;
    left: 0;
    bottom: 0;
}

.deals-item-price{
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--background-red);
    margin-top: 8px;
}

.deals-item-price-discount{
    margin-left: 10px;
    padding: 0 2px;
    background-color: var(--background-redopciti);
    border: 1px solid var(--background-red);
}

.deals-item-qty{
    position: relative;
    width: 100%;
    height: 20px;
    background-color: rgb(255, 170, 175);
    border-radius: 30px;
    margin-top: 10px;
}

.deals-item-progress{
    position: absolute;
    width: 91%;
    height: 100%;
    border-radius: 30px;
    background: var(--background-red);
}

.deals-item-qty span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    color: var(--while-color);
    font-size: 1.2rem;
}

.fire-icon{
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    transform: translateY(-24%);
    margin-left: 4px;
}

.content-header-discount-body-container:nth-child(2) .deals-item-progress{
    width: 70%;
}
.content-header-discount-body-container:nth-child(3) .deals-item-progress{
    width: 12%;
}
.content-header-discount-body-container:nth-child(4) .deals-item-progress{
    width: 70%;
}
.content-header-discount-body-container:nth-child(5) .deals-item-progress{
    width: 70%;
}
.content-header-discount-body-container:nth-child(6) .deals-item-progress{
    width: 50%;
}
.content-header-discount-body-container:nth-child(7) .deals-item-progress{
    width: 70%;
}
.content-header-discount-body-container:nth-child(8) .deals-item-progress{
    width: 12%;
}
.content-header-discount-body-container:nth-child(9) .deals-item-progress{
    width: 12%;
}
.content-header-discount-body-container:nth-child(10) .deals-item-progress{
    width: 12%;
}
.content-header-discount-body-container:nth-child(11) .deals-item-progress{
    width: 12%;
}
.content-header-discount-body-container:nth-child(12) .deals-item-progress{
    width: 12%;
}

.content_container-img-webping{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    object-fit: cover;
}

.content_container-img-webping-1{
    width: 100%;
    height: 100%;
    padding: 0 16px;   
}
.content_container-img .content_container-img-item-table{
    display: none;
}

/* content category  */

.content_container-tab{
    background-color: var(--while-color);
    width: 100%;
    height: 140px;
    margin: 20px 0;
    border-radius: 3px;
}

.content_container-tab-category{
    padding: 16px 0;
}

.category-item{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   height: 100%;
   margin: 0 10px;
   padding: 0 8px;
   text-decoration: none;
   color: var(--back-color);
}

.category-img{
    width: 48px;
    height: 48px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.category-item span{
    display: block;
    font-size: 1.4rem;
    text-align: center;
}

/* end category */

/* content_container-promotion  */

.content_container-promotion{
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
}

.content_container-promotion-img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0 26px;
}

.content_container-promotion-click {
    width: 100%;
    height: 100%;
}

.content_container-promotion-click img {
    border-radius: 20px;
}

/* Thương hiện chính hảng*/

.content_container-brand{
    width: 100%;
    height: 600px;
    background: var(--while-color);
    border-radius: 4px;
}

.content_container-brand-static-header{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    height: 60px;
    align-items: center;
    color: var(--back-color);
}

.content_container-brand-static-header-c1{
    display: flex;
    text-align: center;
    align-items: center;
}

.content_container-brand-static-header-c1 img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.content_container-brand-static-header-c1 span{
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
}

.more-link-c1{
    text-decoration: none;
    font-size: 1.8rem;
    color: rgb(13, 92, 182);
}

.content_container-MainBannersWrapper{
    margin: 0 5px;
}

.content_container-MainBannersWrapper-img{
   display: grid ;
   grid-template-columns: 4fr;
   grid-template-rows: 1fr;
   grid-gap: 0 16px;
   padding: 0 8px;
}

.MainBannersWrapper-img-c1{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    
}

/* content_ccontainer-BrandCardsWrapper-list */
.content_ccontainer-BrandCardsWrapper{
    width: 100%;
    max-height: 320px;
    margin-top: 40px;
}

.content_ccontainer-BrandCardsWrapper-list{
    position: relative;
    border-radius: 5px;
    padding: 0 10px;
}

.content_ccontainer-BrandCardsWrapper-list-c1{  
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.content_ccontainer-BrandCardsWrapper-img img {
    width: 100%;
    height: 280px;
    border-radius: 5px;
}

.brand-cart{
    position: absolute;
    bottom: 10px;
    font-size: 1.4rem;
    color: var(--background-blue);
    margin-top: 8px;
}

/* content_container-categories */

.content_container-categories{
    width: 100%;
    height: 380px;
    background-color: var(--while-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

.content_container-categories-header{
    width: 100%;
    height: 50px;
    padding: 12px 16px 16px 16px;
}

.content_container-categories-header span{
    display: block;
    font-size: 1.8rem;
    color: var(--back-color);
    font-weight: 500;
}

.content_container-categories-header-body{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.content_container-categories-header-body-item{
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(100px , 1fr)); */
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 1fr;
    gap: 14px 14px;
}

.categories-header-body-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.categories-header-body-item-img{
    width: 60px;
    height: 60px;
    margin: 6px 6px;
    border-radius: 20px;
}

.categories-header-body-item span{
    color: var(--back-color);
    font-size: 1.3rem;
    font-weight: 400;
    margin: 12px 0;
}

/* content_container-top_trending  */
.content_container-top_trending{
    width: 100%;
    height: 290px;
    background-color: var(--while-color);
}

.content_container-top_trending-list-header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 20px;
}

.content_container-top_trending-list-img{
    display: flex;
}

.content_container-top_trending-list-img img{
    width: 24px;
    height: 24px;
}

.content_container-top_trending-list-img span{
    display: block;
    font-size: 1.8rem;
    line-height: 24px;
    font-weight: 600;
    margin-left: 8px;
}

.content_container-top_trending-list-header a {
    text-decoration: none;
    color: rgb(13, 92, 182);
    font-size: 1.8rem;
    line-height: 24px;
    font-weight: 600;
}

.content_container-top_trending-body-item{
    margin-left: 12px;
}

.content_container-top_trending-body-item-c1{
    padding: 0 8px;
}

.content_container-top_trending-a1{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(245, 245, 250);
    border-radius: 5px;
    opacity: 1;
}

.content_container-top_trending-a1:hover{
    opacity: 0.9;
}

.content_container-top_trending-body-item-c2{
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.top_trending-body-span-1{
    color: var(--back-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.top_trending-body-span-2{
    color: var(--background-blue);
    background: rgb(240, 248, 255);
    font-size: 1.2rem;
    padding: 2px 4px;
    border-radius: 3px;
    margin-bottom: 8px;
    width: 100px;
}

.top_trending-body-img {
    display: flex;
}

.top_trending-body-img img {
    width: 127px;
    height: 127px;
}

/* content_container-special-offer */

.content_container-special-offer{
    width: 100%;
    height: 150px;
    margin-top: 20px;
}

.content_container-special-offer-img{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    gap: 0px 30px;
}

.content_container-special-offer-a1{
    text-decoration: none;
   
}
.content_container-special-offer-a1 img {
    width: 380px;
    height: 150px;
    border-radius: 20px;
}

/* content_container-all-products */

.content_container-all-products{
    width: 100%;
    height: max-content;
    margin-top: 20px;
    margin-bottom: 40px;
}

.content_container-all-products-header{
    width: 100%;
    height: 150px;
    position: sticky;
    top: 0;
    z-index: 99;
    background: var(--grey-color);
}

.content_container-all-products-header-h3{
    width: 100%;
    height: 50px;
    background: var(--while-color);
    border-radius: 5px;
}

.content_container-all-products-header-h3 h3 {
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: 400;
}

.content_container-all-products-header-table{
    margin-top: 8px;
    width: 100%;
    height: 90px;
}

.content_container-all-products-header-table-c1{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 1fr;
    gap: 0px 6px;
}

.content_container-all-products-header-table-c2{
    display: flex;
    flex-direction: column;
    background: var(--while-color);
    width: 100%;
    height: 100%;
    align-items: center;
    border-radius: 5px;
}

.content_container-all-products-header-table-c2.active{
    border: 1px solid var(--background-blue);
}

.text-h4.color-next{
    color: rgb(13, 92, 182) ;
}

.content_container-all-products-header-table-c2 img{
    width: 48px;
    height: 48px;
    margin: 8px 0;
}

.text-h4{
    color: rgb(120, 120, 120);
    font-weight: normal;
    font-size: 1.3rem;
    flex: 1;
}

/* content_container-all-products-body */

.content_container-all-products-body{
    width: 100%;
    height: max-content;
    background-color: var(--while-color);
    margin-top: 6px;
    border-radius: 5px;
    padding: 16px 0;
}

.content_container-all-products-body-c1{
    width: 100%;
    height: 100%;
}

.content_container-all-products-body-item{
    width: 100%;
    height: 100%;
}

.all-products-item:hover{
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
    z-index: 1;
}

.all-products-item{
    display: block;
    text-decoration: none;
    width: 100%;
    min-height: 338px;
    padding: 12px;
}

.all-products-item-c1-img{
    position: relative;
}

.all-products-item-c1-img img {
    width: 180px;
    height: 180px;
}

.all-products-item-c1-img .all-products-item-c1-img-c2{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 136px;
    height: 24px;
}

.all-products-item-c1-body span{
    color: var(--back-color);
    font-size: 1.2rem;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.all-products-item-c1-start{
    display: flex;
    margin: 4px 0;
}

.all-products-item-c1-start-icon{
    display: block;
    padding-right: 6px;
    border-right: 1px solid #aeaeae;
}

.all-products-item-c1-start-icon i{
    width: 12px;
    height: 12px;
    color: #c7c7c7;
}

.all-products-item-c1-start-s1{
    color:var(--xam-color);
    padding-left: 6px;
}

.all-products-item-discount{
    display: flex;
    margin-top: 12px;
}

.all-products-item-discount-c1{
    color: var(--background-red);
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: 12px;
}

.all-products-item-discount-c2{
    font-size: 1rem;
    color: var(--background-red);
    width: 32px;
    height: 16px;
    margin-top: 4px;
    padding-left: 2px;
    border: 1px solid var(--background-red);
    border-radius: 2px;
    background-color: rgb(255, 240, 241);
}

.all-products-item-prive{
    margin-top: 6px;
}

.all-products-item-prive img {
    width: 124px;
    height: 18px;
}

.content_container-all-products-body-a1{
    display: flex;
    text-decoration: none;
    width: 100%;
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.content_container-all-products-body-a2{
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    width: 240px;
    height: 36px;
    color: var(--blue-color);
    line-height: 20px;
    border: 1px solid var(--blue-color);
    border-radius: 4px;
    padding: 8px 12px; 
}

.content_container-all-products-body-a2:hover{
    background: var(--blue-color);
    color: var(--while-color);
}

/* footer  */

footer{
    width: 100%;
    height: 100%;
    background: var(--while-color);
}

.footer_header{
    width: 100%;
}

.footer_header-item{
    border-bottom: 1px solid var(--greys-color);
}

.footer_header-item-list{
    padding: 16px;
    width: 100%;
    height: 100%;
}

.footer_header-item-list-h4{
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--back-color);
    padding: 16px 0;
}

.footer_header-item-list-holine h5{
    display: block;
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--greys-color);
}

.footer_header-item-list-holine a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--back-color);
    font-weight: 600;
    padding-left: 8px;
}

.footer_header-item-list-holine-c1{
    display: block;
    color: var(--greys-color);
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.footer_header-item-list-holine-content{
    display: flex;
    flex-direction: column;
}

.footer_header-item-list-content-c1{
    text-decoration: none;
    color: var(--greys-color);
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.footer_header-item-list-sup a:hover,
.footer_header-item-list-holine a:hover,
.footer_header-item-list-content-c1:hover{
    text-decoration: revert;
}

.footer_header-item-list-sup{
    display: flex;
    flex-wrap: wrap;
    margin: 4px 0;
}

.footer_header-item-list-sup span{
    display: block;
    font-size: 1.2rem;
    color: var(--greys-color);
    padding-right: 4px;
}

.footer_header-item-list-sup a{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--greys-color);
}

.footer_header-item-list-holine{
    display: flex;
}

.footer_header-item-list-img{
    display: flex;
    align-items: center;
}

.footer_header-item-list-img-c2{
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.footer_header-item-list-img-c3{
    width: 83px;
    height: 34px;
}

.footer_header-item-list-svg-c1{
    margin: 0 8px 8px 0;
}

.footer_header-item-list-checkqr{
    display: flex;
}

.footer_header-item-list-checkqr img {
    width: 80px;
    height: 80px;
}

.footer_header-item-list-checkqr-c2{
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    margin-left: 8px;
}

.footer_header-item-list-checkqr-c2 .checkqr-c3{
    width: 120px;
    height: 36px;
}

/* footer-content */
.footer_content-item-c2,
.footer-content{
    width: 100%;
    border-bottom: 1px solid var(--greys-color);
}

.footer_content-item-list-c2,
.footer-content-item-list{
    padding: 16px 0;
}

.footer-content-item-list-c1{
    display: block;
    color: var(--greys-color);
    font-size: 1.2rem;
}

.footer-content-item-list-c1 p {
    padding: 4px 0;
}

.footer_content-item-list-c2 h1{
    font-size: 1.6rem;
    font-weight: 600;
    padding: 8px 0;
    color: var(--back-color);
}

.footer_content-item-list-c2 h2 {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 8px 0;
    color: var(--greys-color);
}

.footer_content-item-list-c2 p {
    color: var(--greys-color);
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.footer_content-item-list-c2 p a {
    text-decoration: none;
    color: var(--background-blue);
}

/* footer-menu-item  */

.footer-menu-item h3{
    font-size: 1.6rem;
    font-weight: 500;
    padding: 10px 0;
}

.footer-menu-item-list-navbar-c1{
    padding: 4px 16px 4px 0;
}

.footer-menu-item-list-navbar-c2{
    display: block;
    margin-bottom: 4px;
}

.footer-menu-item-list-navbar-c2 a{
    text-decoration: none;
    color: var(--greys-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.footer-menu-item-list-navbar-c3 a{
    text-decoration: none;
    color: var(--greys-color);
    font-size: 1.2rem;
}

.footer-menu-item-list-navbar-c3 a:hover,
.footer-menu-item-list-navbar-c2 a:hover{
    text-decoration: revert;
}

/* content table  */

.content_container-table-lazyload{
    width: 100%;
    height: max-content;
    background: var(--while-color);
    border-radius: 3px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: none;
}

